@media (max-width: 600px) {
  body {
    margin: 0;
  }

  .svg-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  svg {
    width: 100vw;
    padding: 2px;
  }

  text {
    font-size: 0.03em;
  }

  aside {
    flex-direction: column;
    align-items: flex-end;
  }
  
  aside .coordinates-wrapper {
    flex-direction: column;
    align-items: flex-end;
  }

  .beam-form {
    padding: 8px;
    display: flex;
    flex-direction: column;
  }

  .addButton.small {
    margin: 3px;
    width: calc(100% - 2*3px);
    height: fit-content;
    border-radius: 0;
  }

  .beam-properties,
  .supports,
  .load-fieldset,
  .distributed-loads,
  .punctual-loads,
  .punctual-load,
  .punctual-load-fieldset {
    flex-direction: column;
  }
}