body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

svg { 
  background-color: lightgray;
  width: 90vw;
  max-width: 1000px;
  height: 60vh;
  z-index: 1;
}

svg * {
  stroke-width: 0.2%;
  stroke: black;
}

#distributed-loads-group-svg polygon {
  fill: url(#vertical-lines-pattern)
}

#punctual-loads-group-svg.blurred *,
#distributed-loads-group-svg.blurred * {
  stroke: gray;
  stroke-width: 0.1%;
}

#punctual-loads-group-svg.blurred text,
#distributed-loads-group-svg.blurred text {
  stroke: lightgray;
}

.blurred .load-arrow {
  stroke: gray;
  fill: gray;
}

.reaction-arrow.up * {
  stroke: green;
  fill: green
}

.reaction-arrow.down * {
  stroke: red;
  fill: red;
}

/*
.reaction-arrow * {
  fill: none;
}
*/

#shearforce-group-svg *:not(text) {
  fill: none;
  stroke: blue;
}

#bending-moment-group-svg *:not(text) {
  fill: none;
  stroke: green;
}

#highlight-line {
  stroke: red;
  stroke-width: 0.4%;
}

#beam-svg {
  stroke-width: 0.5%;
}

text {
  stroke: maroon;
  stroke-width: 0.01px;
  font-size: 0.015em;
}

aside {
  padding: 4px;
  display: flex;
  justify-content: space-between; 
}

aside .coordinates-wrapper {
  display: flex;
}

.coordinates-wrapper * {
  min-width: 40px;
  margin: 0 5px;
}

nav { 
  background-color: lightgray;
  width: 90vw;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav * {
  margin: 2px;
  display: block;
}

.supports {
  display: flex
}

.load-fieldset {
  display: flex;
  margin-bottom: 5px;
}

.show-on-hover {
  content: "x";
  visibility: hidden;
  padding: 3px;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  margin-left: -5px;
  border: 0;
}

.red { background-color: #ff6666; }
.gray { background-color: gray; }

.hover-wrapper:hover .show-on-hover {
  visibility: visible;
}

.addButton {
  background-color: #66ff99;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  border: 0;
}

.addButton.small {
  margin-left: 5px;
}

.addButton.big {
  margin: 3px;
  width: calc(100% - 2*3px);
}


input.num-field {
  width: 60px;
  text-align: right;
  margin: 3px;
  padding-right: 0;
  border: 1px solid lightgray;
  border-bottom: 1px solid black;
  border-radius: 2px;
}