body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 14px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

svg { 
  background-color: lightgray;
  width: 90vw;
  max-width: 1000px;
  height: 60vh;
  z-index: 1;
}

svg * {
  stroke-width: 0.2%;
  stroke: black;
}

#distributed-loads-group-svg polygon {
  fill: url(#vertical-lines-pattern)
}

#distributed-loads-group-svg.blurred * {
  stroke: gray;
  stroke-width: 0.1%;
}

#distributed-loads-group-svg.blurred text {
  stroke: lightgray;
}

.reaction-arrow.up * {
  stroke: green;
  fill: green
}

.reaction-arrow.down * {
  stroke: red;
  fill: red;
}

/*
.reaction-arrow * {
  fill: none;
}
*/

#shearforce-group-svg *:not(text) {
  fill: none;
  stroke: blue;
}

#bending-moment-group-svg *:not(text) {
  fill: none;
  stroke: green;
}

#highlight-line {
  stroke: red;
  stroke-width: 0.4%;
}

#beam-svg {
  stroke-width: 0.5%;
}

text {
  stroke: maroon;
  stroke-width: 0.01px;
  font-size: 0.015em;
}

aside {
  padding: 4px;
  display: flex;
  justify-content: space-between; 
}

aside .coordinates-wrapper {
  display: flex;
}

.coordinates-wrapper * {
  min-width: 40px;
  margin: 0 5px;
}

nav { 
  background-color: lightgray;
  width: 90vw;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav * {
  margin: 2px;
  display: block;
}

input.num-field {
  width: 60px;
  text-align: right;
  margin: 3px;
  border: 1px solid lightgray;
  border-bottom: 1px solid black;
  border-radius: 2px;
}